# Gemini API Configuration
VITE_GEMINI_API_KEY=AIzaSyCNci3wdtfU67OMnmjR7MnVPqu9IAGYBX4

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyB2io7UFSCjg7phsD2A_CI9wNlEt_hyZ64
VITE_FIREBASE_AUTH_DOMAIN=informes-online.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=informes-online
VITE_FIREBASE_STORAGE_BUCKET=informes-online.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=217333864963
VITE_FIREBASE_APP_ID=1:217333864963:web:4b2ab84d9c3aad9a188c36
